.info_img img {
    width: auto;
    height: 200px;
}

.info_img {
    display: flex;
    justify-content: space-evenly;
}

.info {
    display: flex;
    justify-content: center;
    padding-top: 150px;
}

.info_text h1 {
    display: flex;
    justify-content: center;
}

.navbar-brand img {
    height: 70px;
    width: auto;
}

.nav {
    padding-left: 217px;
    padding-top: 13px;
    display: flex;
}

.catalog_text {
    display: flex;
    justify-content: center;
}

.navbar-brand p {
    display: flex;
    align-items: center;
    margin-left: 30px;
}

.catalog_main img {
    width: 300px;
    height: 300px;
    border-radius: 180px;
}

.tovar_1 {
    background: black;
    border-radius: 20px;
    padding-top: 20px;
    margin-top: 20px;
}

.tovar_2 {
    background: black;
    border-radius: 20px;
    padding-top: 20px;
    margin-top: 20px;
}

.tovar_3 {
    background: black;
    border-radius: 20px;
    padding-top: 20px;
    margin-top: 20px;
}

.tovar_4 {
    background: black;
    border-radius: 20px;
    padding-top: 20px;
    margin-top: 20px;
}

.tovar_5 {
    background: black;
    border-radius: 20px;
    padding-top: 20px;
    margin-top: 20px;
}

.catalogg {
    display: flex;
    justify-content: center;
}

.catalogg h1 {
    display: flex;
    justify-content: center;
    color: white;
}

.catalogg button {
    margin-left: 120px;
}

.catalogg button:hover {
    margin-left: 120px;
    background: grey;
}